/* Mit Universalselektor Abstände auf 0 setzen */
* {
    margin: 0;
    padding: 0;
}


/* Body - Schrift und Hintergrundfarbe festlegen */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #0da7ee;
}

/* Den Button positionieren und stylen*/
button {
    width: 80px; 
    height: 40px;
    background-color: #007ab3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
    color: #00098b;
    position: relative;;
    top: 370px;
    left: 150px;
    border-radius: 15px;
    border: none;
    padding: 1px;
    box-shadow: 5px 5px;
}

/* Wenn man über den Button hovert, verändert sich die Farbe, so dass der Nutzer wei0, dass er sich über dem Start-Button befindet*/
button:hover {
    background-color: #006086;
}

/* Body - Schrift und Hintergrundfarbe festlegen */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #0da7ee;
}

/* Kartenbereich für den Computer positionieren und stylen */
#computer {
    position: absolute;
	margin: -1.5% 0 2% 2%;
    padding: 3px;
	width: 95%;
	height: 210px;
    border-radius: 15px;
    background-color: #007ab3;
}

/* Kartenbereich für das Spielfeld des Mneschen auf der Seite positionieren und stylen */
#human {
    position: relative; 
	margin: 0.5% 0 2% 2%;
    padding: 3px;
    top: 470px;
	width: 95%;
	height: 210px;
    border-radius: 15px;
    background-color: #84d8ff;
}

/* Div, worin sich der Ablage- und Ziehstapel befinden -> stylen und positionieren */
#stacks {
    position: absolute;
    color: #cde2e6;
    border-radius: 20px;
    width: 50%;
    height: 220px;
    top: 268px;
    left: 360px;
    z-index: -1;
    margin: 0% 0% 2% 0%; 
}

/* Div, wo sich die Ziehkarten befinden, positionieren */
#drawCardStack {
    position: relative;
    margin-top: 14px;
	margin-left: 320px;;
	margin-right: 5px;;
}

/* Div, worin sich die Ablegekarten befinden, positionieren */
#playCardStack {
    position: absolute;
    margin-top: 2px;
	margin-left: 40px;;
	margin-right: 5px;;
}

/* Die Zahl, die auf den Karten abgebildet wird, positionieren und stylen */
.numberOfCards {
	color: #002291;
    opacity: 30%;
	font-size: 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-left: 60%;
	margin-top: 130%;
    -ms-transform: rotate(270deg); /* Zahl wird rotiert */
    transform: rotate(270deg); /* Zahl wird rotiert */
    
}

/* Rückseite der Karten für Computer und Ziehstapel stylen */
.backside {
    background-image: url("/Karten/Bilder/Transparent/rückseite.png") ;
    background-position: center; /* Hintergrundfoto mittig positionieren */
    background-size: 100px;
    background-color: #ffffff;
    border-radius: 12px;
    border: solid;
    border-width: 2px;
    border-color: #115468;
    width: 100px;
    height: 180px;
    float: left;
    margin: 1% 0% 5% 0%; 
   
}

/* Blaue Karte stylen */
.blueCard{
    background-image: url("/Karten/Bilder/Transparent/König.png") ;
    background-position: center;
    background-size: 70px;
    background-repeat: no-repeat;
    background-color: #3bb1ff;
    border-radius: 12px;
    border: solid;
    border-width: 2px;
    border-color: #115468;
    width: 100px;
    height: 180px;
    float: left;
    margin: 0.7% 0% 5% 0%; 
}

/* Grüne Karte stylen */
.greenCard {
    background-image: url("/Karten/Bilder/Transparent/Bube.png");
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    background-color: #61b656;
    border-radius: 12px;
    border: solid;
    border-width: 2px;
    border-color: #115468;
    width: 100px;
    height: 180px;
    float: left;
    margin: 0.7% 0% 5% 0%; 
}

/* Rote Karte stylen */
.redCard {
    background-image: url("/Karten/Bilder/Transparent/Dame.png");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: #ff7575;
    border-radius: 12px;
    border: solid;
    border-width: 2px;
    border-color: #115468;
    width: 100px;
    height: 180px;
    float: left;
    margin: 0.7% 0% 5% 0%; 
}

/* Gelbe Karte stylen */
.yellowCard {
    background-image: url("/Karten/Bilder/Transparent/10.png");
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    background-color: #ffdf75;
    border-radius: 12px;
    border: solid;
    border-width: 2px;
    border-color: #115468;
    width: 100px;
    height: 180px;
    float: left;
    margin: 0.7% 0% 5% 0%; 
}

/* Footer am unteren Rand der Seite absolut zum Wrapper positionieren*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2px;
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #012d41;
}

/* Kasten um Inhalt */
.contentFooter {
    padding: 18px 10px 18px 10px;
}