/* Mit Universalselektor Abstände auf 0 setzen */
* {
    margin: 0;
    padding: 0;
}


/* Body - Schrift und Hintergrundfarbe festlegen */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #0da7ee;
}

button {
    width: 80px; 
    height: 40px;
    background-color: #007ab3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
    color: #00098b;
    position: absolute;
    top: 345px;
    left: 280px;
    border-radius: 15px;
    border: none;
    padding: 1px;
    box-shadow: 5px 5px;
}

button:hover {
    background-color: #006086;
}

/* Body - Schrift und Hintergrundfarbe festlegen */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #0da7ee;
}

.computer {
    position: absolute;
	margin: 1% 0 2% 2%;
    padding: 3px;
	width: 95%;
	height: 210px;
    border-radius: 15px;
    background-color: #007ab3;
}

.human {
    position: relative; 
	margin: 0.5% 0 2% 2%;
    padding: 3px;
    top: 500px;
	width: 95%;
	height: 210px;
    border-radius: 15px;
    background-color: #84d8ff;
}

.stacks {
    color: #ffffff;
}

.blue {
    background-color: aliceblue;
    width: 100px;
    height: 100px;
}



img {
    position: relative;
    width: 15%;
    height: auto;
    z-index: -1;
    top: -5px;
    left:4%;
    opacity: 80%;
}



/* Footer am unteren Rand der Seite absolut zum Wrapper positionieren*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2px;
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #012d41;
}

/* Kasten um Inhalt */
.contentFooter {
    padding: 18px 10px 18px 10px;
}